nav{
    background-color: rgb(255, 72, 0);
    display: flex;
    justify-content:space-between ;
    align-items: center;
    height: 90px;


    h1{
        margin-left: 30px;
        font-size: 30px;
        color: yellow;
        font-family: sans-serif;
    }
    .anchor{
        width: 700px;
        height: 30px;
        font-size: 25px;
        margin: 30px;
    }
    a{
        margin-right: 100px;
        text-decoration:none;
        color: black;
    }
}    

.search{
    background-color: rgb(9, 214, 221);
    width: 700px;
    height: 1000px;
    border-radius: 10px;
    box-shadow: 4px 4px 3px 5px rgba(13, 14, 14, 0.476);
    padding: 20px 0;
}
.article{
    background-color: rgb(60, 223, 27);
    width: 500px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 2px 4px 3px 5px rgba(13, 14, 14, 0.476)inset;
    padding: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}