{% extends 'main.html' %}

{% block content %}

    <center>
        <h1>This is Home_page!!!</h1>
        <h2>{{request.user}}</h2>
        <h2>{{request.user.is_authenticated}}</h2>
        <h2>{{request.user.email}}</h2>
        <form action="">
        <input type="text" name="search" id="">
        <button type="submit">SEARCH</button>
        </form>

        {% for i in all %}
            <h2>{{i.title}} // {{i.desc}} //</h2>
            {% if i.img %}
            <img src="{{i.img.url}}" alt="">
            {% else %}
            <h2>Image not Found</h2>
            {% endif %}
        {% endfor %}
    </center>

{% endblock content %}


